html {
    background: white;
}
.header {
  padding: 0px;
  text-align: center;
  color: black;
  font-size: 30px;
}


body {
    margin-left: 10%;
    margin-right: 10%;
}

.topnav a {
  color: black;
  padding: 9%;

  font-size: 30px;
}


.topnav a:hover {
  background-color: #f2f2f2;
  color: black;
}
